.datafusion-shell {
  background-color: #333;
  height: 100%;
}

.query-div {
  display: flex;
  flex-direction: row;
}


.input-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.input-form {
  flex-grow: 1;
}

.input-form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.25rem 0;
  background: transparent;
  color: white;
}

/* Optional: Remove form default styles */
.input-form {
  margin: 0;
}